@charset "utf-8";

@import 'var-mix';
@import 'global';
@import 'typography';
@import 'home';
@import 'animations';
@import 'components/input';
@import 'components/button';
@import 'components/section-banner';
@import 'components/bt-whatsbox';
@import 'components/cookies';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/_float_menu';


:root {
   --ease-animation: cubic-bezier(0.38,0,.02,1);
   --t0: 0.8s;
   --t1: 1.3s;
   --t2: 1.8s;
   --t3: 2.3s;
   --t4: 2.8s;
}


/*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜* GERAL *˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*/

html { scroll-behavior: smooth; }
body { 
   font: 62.5% $primary-font, sans-serif;
   font-weight: 500;
   color: $root-color;
   background: $light-color;
   line-height: 2.1;
   // letter-spacing: 0.05em;
   overflow-x: hidden;
   text-rendering: optimizeSpeed;
}



/* ------------------------|
|                          |
|  STYLE CLASSES PADRÕES   |
|                          |
| -------------------------|
*/

.wrap{
   //max-width: 1107px;
   max-width: 1165px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;

   &.compact{ max-width: 1000px; }
   &.wide{ max-width: 1390px; }
}



/* SET ARROWS - OWL CAROUSEL */

.owl-nav{
   button.owl-next, button.owl-prev{
      border-radius: 50% !important;
      display: flex !important;
      @include flex(center, center);

      @include size(50px);
      @include absolute($b: 6%, $l: calc(50% - 40px - 25px));

      img{
         display: block;
         transition: all 0.2s linear;
      }

      &:hover{
         background: $primary-color !important;
      }
   }

   button{
      &:focus{ outline: none; }
   }

   button.owl-next{ left: calc(50% + 40px - 25px); }
}


.fancybox-caption__body{ color: #FFF; }





// Notebook
@media only screen and (min-width: 1025px) and (max-width: 1499px) {
   .itens {
      div:last-child {
         padding-left: 5px !important;
      }
   }

}



/*********************** TABLET LANDSCAPE ***********************/

@media only screen and (min-width: 577px) and (max-width: 1024px){

   body{ font-size: 54%; }

   .wrap{ padding: 0 40px; }

   section{ padding: 70px 0; }



}

/*********************** TABLET PORTRAIT **********************/

@media only screen and (min-width: 577px) and (max-width: 768px){

   body{ font-size: 47%; }

   section{ padding: 50px 0; }


}



// Smartphone
@media(max-width: 578px){

   // BODY
   body{
      font-size: 55%;
      // line-height: 1.6;
   }


   // CONTAINER
   .wrap{
      padding: 0 35px;
   }

   section{ padding: 70px 0; }
}

