@charset "utf-8";

@import 'var-mix';
@import 'global';


:root {
   --ease-animation: cubic-bezier(0.38,0,.02,1);
   --t0: 0.8s;
   --t1: 1.3s;
   --t2: 1.8s;
   --t3: 2.3s;
   --t4: 2.8s;
}


/*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜* GERAL *˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*/

html { scroll-behavior: smooth; }
body { 
   font: 62.5% 'acumin-pro', sans-serif;
   font-weight: 500;
   color: $root-color;
   background: $lighter-color;
   background: red;
   line-height: 2.1;
   // letter-spacing: 0.05em;
   overflow-x: hidden;
   text-rendering: optimizeSpeed;
}


a { color: inherit; text-decoration: none; transition: all .2s linear; }
a:hover{ color: $primary-color; }

strong{ font-weight: 900; color: $root-color; }

h1, h2{ 
   font-size: 1.8em;
   line-height: 2.2;
   font-weight: 400;
   font-family: 'condor';
   color: $root-color;
   letter-spacing: .4em;
   margin-bottom: 30px;
   text-transform: uppercase;
   // text-align: center;

   &.is-big{
      font-size: 3.5em;
      letter-spacing: .2em;
   }

}

h3{
   font-size: 2.8em;
   font-family: 'condor';
   font-weight: 400;
   margin-bottom: 20px;
   transition: all 0.3s linear;
   line-height: 1.3;

   &.big{
      font-size: 30px;
   }
}

h4{
   font-size: 2.2em;
   font-family: 'condor';
   font-weight: 400;
   line-height: 1.4;
   // color: $primary-color;
   margin-bottom: 15px;
   // text-align: center;
   // letter-spacing: 0px;

   div.waypoint {
      display: block;
      opacity: 1;

      span{
         opacity: 0;
         transition: opacity .5s ease-in;

         &.animated{ opacity: 1; }
      }
   }
}

.subtitle{
   color: inherit;
   font-size: 40px;
   line-height: 1.5;

   &.small{
      font-size: 18px;
      line-height: 1.9;
   }

   &.blog{
      font-size: 30px;
      line-height: 1.3;
   }
}


ul{ list-style-type: none; }

.line{ 
   background: $d-gray; 
}

hr{
   height: 3px;
   width: 115px;
   background: $secondary-color;
   margin: 15px 0;
   border: none;

   &.is-full{
      width: 100%;
   }
}

section{
   padding: 90px 0;
   padding: 90px 0;
   padding: 90px 0;
}

p{ font-size: 1.4em; }


/* ------------------------|
|                          |
|  STYLE CLASSES PADRÕES   |
|                          |
| -------------------------|
*/

.wrap{
   max-width: 1180px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;

   &.compact{ max-width: 1000px; }
   &.wide{ max-width: 1390px; }
}



.is-absolute{ position: absolute; }

.bg-white{ background-color: #FFF !important; }
.bg-gray{ background-color: $gray-color !important; }
.bg-l-gray{ background-color: $l-gray !important; }
.bg-ll-gray{ background-color: $ll-gray !important; }
.bg-root{ background-color: $root-color !important; }
.bg-primary{ background-color: $primary-color !important; }
.bg-secondary{ background-color: $secondary-color !important; }

.color-root{ color: $root-color; }
.color-primary{ color: $primary-color !important; }
.color-secondary{ color: $secondary-color !important; }
.color-white{ color: #FFF !important; }
.color-gray{ color: $gray-color !important }
.color-gray-light{ color: $ll-gray !important }

.is-pointer-off{ pointer-events: none; }

.z-index-0{ z-index: 0; }
.z-index-1{ z-index: 1; }
.z-index-2{ z-index: 2; }

.lp-0{ letter-spacing: 0; }


.box{ border-radius: 0; box-shadow: none; }

address{ font-style: normal; }

/* ------------------------|
|                          |
|  STYLE CLASSES EXTRAS    |
|                          |
| -------------------------|
*/

.font-primary{ font-family: 'acumin-pro' !important; }
.font-secondary{ font-family: 'condor' !important; }




/* ------------------------|
|                          |
|       STYLE INPUT        |
|                          |
| -------------------------|
*/

input, .input{
   border: none;
   // border-bottom: 1px solid $primary-color;
   border-radius: 30px;
   padding: 11px 20px 7px;
   @include size(100%, auto);
   @include text($secondary-color, $size: 1.4em);
   outline: none;
   background: #FFF;
   font-family: 'acumin-pro';
   // letter-spacing: 1px;
   box-shadow: none;

   @include placeholder{
      color: $primary-color;
   }
}
.select{
   height: auto !important;
   width: 100%;
}
.select select{
   border: none;
   border-bottom: 2px solid $primary-color;
   border-radius: 0;
   padding: 9px 23px 12px 0;
   height: auto;
   @include text($primary-color, $size: 2em);
   font-family: 'acumin-pro' !important;
   background: #FFF;
   transition: all 0.2s linear;
   width: 100%;
   box-shadow: none !important;
}
.select:not(.is-multiple):not(.is-loading)::after{ border-color: #AAA; border-width: 2px; }

textarea, .textarea{
   border: none;
   border-bottom: 1px solid $primary-color;
   border-radius: 0;
   padding: 14px 0;
   width: 100%;
   @include text($secondary-color, $size: 1.4em);
   outline: none; 
   background: none;
   font-family: 'acumin-pro';
   letter-spacing: 1px;

   @include placeholder{
      color: $secondary-color;
   }
}

button, .button{
   border: none;
   // border: 2px solid $primary-color;
   // border-radius: 37px;
   cursor: pointer; 
   transition: all 0.2s linear;
   padding: 15px 25px 14px;
   font-family: 'acumin-pro';
   font-weight: 400;
   // letter-spacing: 1px;
}

.input:focus, .textarea:focus, .select select:focus, .input:active, .textarea:active, .select select:active{
   border-color: $secondary-color;
   box-shadow: none;
}




/* ------------------------|
|                          |
|       STYLE HEADER       |
|                          |
| -------------------------|
*/

header{
   @include transition(1s);
   @include fixed($t: 0, $z: 200);
   width: 100%;
   height: 125px;
   background: none;
   padding-top: 110px;


   .navbar-burger{
      background-color: #FFF;
      border-radius: 6px;
      color: $primary-color;
      margin-top: 5px;
      // margin-right: 25px;
      display: block;
      transform: scale(1.3);
      height: 2.6rem;
      width: 3.2rem;

      span{
         background-color: #5F584D;
         @include transition();
      }

      &:hover{
         background: $primary-color;

         span{
            background-color: #FFF;
         }
      }

      &.is-active{
         span{ background-color: #FFF; }

         &:hover{
            span{ background-color: $secondary-color; }
         }
      }
   }


   &.is-hide{
      top: -125px;
      padding-top: 15px;
      .logo{ opacity: 0; }
   }

   &.is-compact{
      padding-top: 15px;
      height: 80px;
      // overflow: hidden;
      background-color: rgba(82,70,57,0.9);
      backdrop-filter: blur(6px); 

      .logo{
         max-width: 250px;
      }

      .campos{
         opacity: 0;
      }
      
      // .navbar-burger{ margin-top: 21px; }
   }


   .logo{
      // max-width: 256px;
      margin: 10px 0 0;
      transition: all 1s cubic-bezier(0.38,0,.02,1);
   }

   .campos{
      @include transition(0.8s);
   }


   .links{
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      @include transition(0.6s);

      a{
         color: $root-color;
         font-size: 1.5em;
         font-weight: 500;
         font-family: 'acumin-pro';
         position: relative;
         letter-spacing: 1px;
         @include before(#49433b, 0, 1px, 0, 115%, $time: 0.7s);

         &:hover{
            // color: $primary-color;
            color: #49433b;

            &:before{
               width: 100%;
            }
         }

         &.is-active{
            color: $primary-color;

            &:before{
               width: 100%;
            }       
         }
      }
   }
}




/* ------------------------|
|                          |
|         MENU FLOAT       |
|                          |
| -------------------------|
*/

.menu{
   @include fixed($t: 0, $r: -100%, $z: 9999);
   @include size(100%, 100vh);
   display: flex;
   overflow: hidden;
   transition: all 1s cubic-bezier(0.54, 0.18, 0.13, 1);
   // background-color: $l-gray;
   background: url(../../img/bg-menu.webp) center center;
   background-size: cover;
   opacity: 0;

   &.is-active{
      right: 0;
      opacity: 1;
   }

   .container-menu{
      margin-top: 20vh;
      margin-left: 38vw;
      position: relative;
      width: 100%;
   }

   .bt-close-menu{
      @include absolute($t: 45px, $r: 60px);
      @include transition(0.6s);
      cursor: pointer;

      &:hover{
         transform: scale(1.2) rotate(90deg);
      }
   }

   .logo{
      @include absolute($b: 6%, $l: 5vw);
      @include size(170px, auto);
      // display: block;
   }

   .phone{
      @include absolute($b: 7%, $r: 6vw);
      
      a{
         letter-spacing: 0.3em;

         &:hover{
            color: $secondary-color;
         }
      }
   }

   .menu-item{
      position: relative;
      font-family: 'condor';
      // font-size: 3.5em;
      @include fs-vw(3);
      font-weight: 300;
      line-height: 1.2vh;
      display: inline-block;
      margin-bottom: 5.6vh;
      color: $primary-color;
      letter-spacing: .2em;
      @include transition(0.6s);

      &:hover, &.current{
         color: $secondary-color;
         transform: translateX(10px);

         &:after{
            width: 45px;
         }   
      }

      &:after{
         content: ' ';
         @include absolute($t: 47%, $r: calc(100% + 30px));
         background-color: $secondary-color;
         @include size(0, 3px);
         @include transition(0.6s);
      }
   }
}











/* ############################################################################################################################ */
/* ############################################################################################################################ */
/* ############################################################################################################################ */

/* ------------------------|
|                          |
|       STYLE BUTTONS      |
|                          |
| -------------------------|
*/

.btn{
   position: relative;
   background: $primary-color;
   border: 1px solid $primary-color;
   border-radius: 50px;
   display: inline-block;
   margin: 25px auto;
   padding: 26px 55px 26px;
   cursor: pointer;
   transition: all .2s linear;
   height: auto;
   // text-transform: uppercase;
   // width: 400px;
   max-width: 100%;
   outline: none;
   font-family: 'acumin-pro';
   overflow: hidden;
   letter-spacing: .2em;
   @include text($color: #FFF, $size: 1.3em, $lh: 1.4, $weight: 400, $align: center);

   span{
      position: relative;
      z-index: 1;
   }

   &:after{
      content:'';
      background: $dark-color;
      @include size(100%, 0);
      @include absolute($t: 0, $l: 0%, $z: 0);
      @include transition(0.5s);
      border-radius: 30px;
   }


   &:hover{
      color: #FFF;
      border-color: $dark-color;
      
      &:after{ height: 100%; left: 0; }
   }

   i{
      font-size: 19px;
      line-height: 25px;
      margin-right: 3px;
   }

   svg{
      margin-left: 10px;
      transform: translateY(3px);
   }
   
   &.is-small{
      padding: 10px 35px 10px;
   }

   &.is-transparent{
      background: none;
      color: #5F584D;

      &:hover{
         color: $primary-color;
      }

      svg{
         path{
            stroke: $primary-color;
         }
      }
   }

   &.is-secondary{
      background: $secondary-color;
      border-color: $secondary-color;
      padding: 19px 58px 19px;
   }
}

/* ############################################################################################################################ */
/* ############################################################################################################################ */
/* ############################################################################################################################ */










/* ------------------------|
|                          |
|      STYLE BANNER        |
|                          |
| -------------------------|
*/

.section-banners{
   position: relative;
   margin-top: 0; 
   padding: 0 0 0px;
   background-color: $l-gray;

   .cycle-prev, .cycle-next{
      @include absolute($b: 13%, $r: 21%, $z: 120);
      @include size(100px);
      @include flex(center, center);
      cursor: pointer;
      opacity: 0.8;
      // border: 1px solid $secondary-color;
      // border-radius: 50%;
      @include transition();
      // background-color: rgba(0,0,0,0.3);
   }

   .cycle-next{
      left: initial;
      right: 17%;
   }

   .cycle-prev:hover, .cycle-next:hover{
      // background-color: #FFF;
      transform: scale(1.1);
      opacity: 1;
   }
   
   .txt-banner{
      left: 0%;
      top: 260px;
      position: relative;
      z-index: 2;
      width: 355px;
      // padding: 0 60px;

      .btn{
         margin-top: 50px;
      }
   }


   .h1{
      line-height: 0.85;
      font-size: 8em;
      // @include fs-vw(8);
      font-weight: 300;
      font-family: 'condor';
      color: #f8f8f8;
      margin-bottom: 2px;
      // letter-spacing: 10px;

      p{ font-size: 1em; }

      em{
         font-family: 'richmond-display';
         font-weight: 200;
      }
   }

   .h2{
      color: #f8f8f8;
      font-weight: 400;
      font-size: 1.6em;
      line-height: 1.4;
      margin-bottom: 17px;
      letter-spacing: 1px;
   }


   .cycle-slideshow .li{
      top: 0px !important;
      width: 100%;
      height: 800px;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      // animation: banner_vert 22s ease-in infinite;

      &.video{
         pointer-events: none;
      }

      &.horiz{
         animation: banner_horiz 22s ease-in infinite;
      }

      .overlay{
         @include absolute($l: 0, $t:0, $z: 1);
         @include size(100%);
         background: linear-gradient(to bottom, rgba(30,30,30,.2) 0%, rgba(30,30,30,0.6) 100%);
      }

      .star{
         @include absolute($r: 10px, $t: 3px);
         @include size(61px);
      }
   }

   .cycle-pager{
      text-align: center;
      @include absolute($b: 30px, $l:0, $z: 101);
      @include size(100%, auto);
      cursor: pointer;

      span{
         text-indent: -9999px;
         @include size(6px, 6px);
         background-color: #FFF;
         display: inline-block;
         margin: 0 20px;
         border-radius: 3px;
      }

      .cycle-pager-active{
         @include size(10px, 10px);
         background-color: $primary-color;
         transform: translateY(-2px);
      }
   }
}

@keyframes banner_vert {
   0%   { background-position: center top 0; }
   50%  { background-position: center top -300px; }
   100% { background-position: center top 0; }
}

@keyframes banner_horiz {
   0%   { background-position: left 0 top; }
   50%  { background-position: left -200px top; }
   100% { background-position: left 0 top; }
}





/* ------------------------|
|                          |
|       STYLE HOME         |
|                          |
| -------------------------|
*/


.section-intro{
   background: url(../../img/bg-intro.webp) center top;

   img{ max-width: 908px; }

   .sun{
      @include absolute($t: 46%, $l: 1px);
      @include size(116px);
   }

   p{
      font-size: 1.5em;
   }

}



.section-block-2{
   background: url(../../img/bg-texture-light.webp);
   letter-spacing: 0.5em;

   .all-contents {
      gap: 4vw;


      // Smartphone
      @media(max-width: 578px){
         gap: unset !important;
      }
   }

   .owl-carousel {
      .owl-item .item{
      }

      img {
         max-height: 863px;
         object-fit: cover;
      }
   }

   hr{
      width: 45px;
      background-color: $light-color;
      height: 1px;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
   }

   p {
      @include fs-vw(1.4);
      margin-left: 20px !important;
   }
}



.section-lazer{

   background: url(../../img/bg-lazer.webp) center bottom no-repeat;

   h2{
      font-weight: 200;
      @include fs-vw(10.2);
      line-height: 1;
      letter-spacing: .2em;
   }

   h3{
      // font-weight: 200;
      font-size: 1.7em;
      letter-spacing: .4em;
      line-height: 2.2;
   }

   h4{
      font-weight: 200;
      @include fs-vw(5.8);
      line-height: 1;
      letter-spacing: .0em;
   }

   h5{
      font-size: 1.6em;
      line-height: 1;
      padding-top: 10px;
      padding-bottom: 10px;
   }

   h6{
      font-size: 1.4em;
      line-height: 0.6;
      font-feature-settings: "liga", "kern";
      box-sizing: border-box !important;
      padding: 11px 20px 10px 20px;

   }





   .itens{
      font-size: 1.1em;

      .num{
         //line-height: 1;
         font-size: .9em;
         line-height: .9em;
         @include size(25px);
         border-radius: 50%;
         border: 1px solid $primary-color;
         position: relative;

         p{
            position: absolute;
            top: 46%;
            right: 50%;
            transform: translate(50%, -50%);
            transform-origin: center;

         }
      }
   }
}



.section-galeria{
   .item{
      a{
         display: block;
         position: relative;
         overflow: hidden;

         &:hover{
            .overlay{ opacity: 1; }
            .legenda{ bottom: 7%; }
         }
      }

      .overlay{
         @include absolute($t: 0, $l: 0);
         @include size(100%);
         background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
         opacity: 0;
         @include transition(.7s);
      }

      .legenda{
         @include absolute($b: -25px, $l: 15%);
         font-size: 1.4em;
         font-weight: 300;
         color: #FFF;
         letter-spacing: 0.35em;
         @include transition(.7s);

         &:after{
            content: ' ';
            @include absolute($t: 47%, $r: 111%);
            background-color: #FFF;
            @include size(40px, 3px);
         }
      }
   }
}




/* SET ARROWS - OWL CAROUSEL */

.owl-nav{
   button.owl-next, button.owl-prev{
      border-radius: 50% !important;
      display: flex !important;
      @include flex(center, center);

      @include size(50px);
      @include absolute($b: 6%, $l: calc(50% - 40px - 25px));

      img{
         display: block;
         transition: all 0.2s linear;
      }

      &:hover{
         background: $primary-color !important;
      }
   }

   button{
      &:focus{ outline: none; }
   }

   button.owl-next{ left: calc(50% + 40px - 25px); }
}




.section-plaza{
   
   .txt{
      @include absolute($t: 155px);
      font-size: 1.9em;
      font-weight: 300;
      width: 100%;
      letter-spacing: .4em;
      color: $lighter-color;
   }


   .bg-texture{
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 90%, $l-gray 90%), url(../../img/bg-texture.webp);

      .owl-theme .owl-nav{
         margin: 0;
      }
   }

   .box-p{
      margin-top: -180px;
      line-height: 1.65;

      .svg{
         max-width: 210px;
      }
   }

   .main-img {
      margin: 0 auto;

   }

}



 







.section-plantas{

   hr{ height: 2px; }

   .plantas-nav{
      // z-index: 101;

      a{
         position: relative;
         display: block;
         margin: 0px 0;
         padding: 7px 23px 7px;
         border-radius: 30px;
         font-size: 1.2em;
         overflow: hidden;
         // color: $primary-color;
         letter-spacing: 0.25em;
         @include transition(0.3s);

         span{
            position: relative;
            z-index: 1;
         }

         // &:hover{
         //    color: $root-color;
         // }

         &:after{
            content:'';
            background: $secondary-color;
            @include size(0, 100%);
            @include absolute($t: 0, $l: 0, $z: 0);
            @include transition(1s);
         }
      }

      .cycle-pager-active{
         color: #FFF;

         &:after{
            width: 100%;
         }
      }
   }

   .plantas-slide{
      .cycle-slide{
         width: 100%;
      }

      .box-img{
         // margin-top: -30px;
         // margin-bottom: 50px;

         a{
            display: block;
         }
      }

      // .leg{
      //    font-size: 2.4em;
      //    letter-spacing: 0;
      //    font-family: 'condor';
      // }

      // .metragem{
      //    font-family: 'condor';
      //    font-size: 2.4em;
      //    // color: #7A6E57;

      //    span{ font-size: 0.6em; }
      // }
   }
}










.section-diferenciais{

   hr{ height: 2px; }

   .serv-list{
      // color: #434343;

      .bt-expand{
         position: relative;
         color: #8e7d6e;
         font-size: 2.5em;
         letter-spacing: 0.2em;
         padding-bottom: 8px;
         @include transition();
         // border-bottom: 1px solid #DDD;

         &.is-active{
            color: $primary-color;
         }

         @include before($color: #a29586, $w: 95%, $h: 1px, $bt: 44%);

         span{
            position: relative;
            background-color: $l-gray;
            // padding-right: 15px;
            display: inline-block;
            width: 350px;
         }
      }

      .icone{
         @include absolute($t: 4px, $r: 0px);
         @include transition(.8s);
         opacity: 0.5;
         transform: scale(0.8);
         font-size: 1.4em;

         &.is-active{
            opacity: 1;
            transform: scale(0.8) rotate(180deg);
            color: $secondary-color;
            // filter: invert(51%) sepia(38%) saturate(2030%) hue-rotate(355deg) contrast(89%);
         }
      }

      .content{
         font-size: 1.2em;
         line-height: 1.4;
         max-height: 0;
         overflow: hidden;
         @include transition(.8s);

         p{ font-size: 1em; }
      }
   }


   .box_i{
      padding: 0 30px;
      margin-bottom: 50px;
      
      .box_img{
         height: 72px;
         margin: 0 auto 30px;
         
         .ico{
            max-width: 110px;
            max-height: 100%;
         }
      }
      
   }
   
}








.section-localizacao{
   h2{
      font-size: 4.3em;
      letter-spacing: .05em;
      line-height: 1.2;
   }

   h3{
      font-size: 1.8em;
      letter-spacing: .4em;
      line-height: 2.2;
   }

   .address{
      font-size: 1.6em;
      letter-spacing: 0.2em;
   }

   .proximidades{
      .item{
         font-size: 1.2em;
      }
   }

   .maps{
      border: 1px solid $d-gray;
      // filter: sepia(72%) brightness(78%) hue-rotate(335deg) saturate(107%) contrast(99%);
      // -webkit-filter: sepia(72%) brightness(78%) hue-rotate(335deg) saturate(107%) contrast(99%);
      // -moz-filter: sepia(72%) brightness(78%) hue-rotate(335deg) saturate(107%) contrast(99%);
   }
}










.section-home-contato{
   .box-form{
      border-radius: 15px;
      background-image: url(../../img/bg-form.webp);
      background-position: left center;
      background-repeat: no-repeat;
   }

   .pessoa{
      @include absolute($b: -72px, $l: -20px);
      max-width: 439px;
   }


   h3{
      font-size: 1.8em;
      letter-spacing: .4em;
      line-height: 1.9;
   }

   p{
      line-height: 1.8;
   }

   .emps p{
      font-size: 1em;
      line-height: 1.3;
      letter-spacing: .2em;
   }
}








.fancybox-caption__body{ color: #FFF; }







/* ------------------------|
|                          |
|      BT WHATSAPP         |
|                          |
| -------------------------|
*/ 

.bt-whatsbox{
   @include fixed($b: 25px, $r: 25px, $z: 999);
   @include size(54px);
   border-radius: 50%;
   background: $primary-color;
   text-align: center;
   color: #FFF;
   box-shadow: 0 0 0 0 rgba(0,0,0,1);
   animation: pulse 2s infinite;
   cursor: pointer;
   transition: all 0.3s cubic-bezier(.74,.13,.42,1.81);
   
   i{ line-height: 55px; font-size: 28px; }

   &.hide{ opacity: 0; transform: scale(0); }
   &:hover{ transform: scale(1.2); }
}

@keyframes pulse {
   0% { box-shadow: 0 0 0 0 rgba(75, 67, 47, 0.7); }
   70% { box-shadow: 0 0 0 15px rgba(0,168,89,0); }
   100% {  box-shadow: 0 0 0 0 rgba(0,168,89,0); }
}





/* COOKIES */

.cookies{
   font-size: 14px;
   position: fixed;
   width: 1000px;
   max-width: 100%; 
   z-index: 202;
   bottom: 40px;
   margin-left: 50%;
   transform: translateX(-50%);

   .cookies-warning-box{
      border-radius: 0px;
      box-shadow: 6px 2px 48px -17px rgba(0,0,0,0.75);
      padding: 40px 50px 40px;
      background-color: $secondary-color;
      text-align: justify;

      h3{ font-size: 24px; }
   }

   .cookies-warning-btn .btn{
      font-size: 14px;
      padding: 13px 32px 9px;

   }
}


// Notebook
@media only screen and (min-width: 1025px) and (max-width: 1499px) {
   .itens {
      div:last-child {
         padding-left: 5px !important;
      }
   }

   .section-block-2 {
      .all-contents {
         justify-content: space-between !important;
         flex-wrap: nowrap !important;

         .slide-galeria {
            margin-top: 120px !important;
         }
      }



   }

   .section-lazer {
      .box-itens-lazer {
         &.pl30 {
            padding-left: 0 !important;
         }
      }
   }
}


@media screen and (max-width: 767px) {

   .cookies{
      width: 90%;
      bottom: 20px;

      .cookies-warning-box{
         font-size: 14px;
         padding: 30px 35px;

         h3{ font-size: 21px; }
      }

      .cookies-warning-text{
         margin-bottom: 0;
      }
      
      .btn{ min-width: 220px; }
   }
}





/* ------------------------|
|                          |
|          FOOTER          |
|                          |
| -------------------------|
*/

footer{
   padding-top: 30px;
   padding-bottom: 30px;

   p{ font-size: 1.1em; }

   .assinatura{
      color: $primary-color;

      a{
         &:hover{ color: #FFF; }
      }
   }
}










/* ANIMATIONS */

.waypoint{ opacity: 0; }

.animation_fade.animated { opacity: 1; }

.animation_bottom.animated    { opacity: 1; animation: fadeBottom var(--t0) 1 var(--ease-animation); }
.animation_bottom_d1.animated { opacity: 1; animation: fadeBottom var(--t1) 1 var(--ease-animation); }
.animation_bottom_d2.animated { opacity: 1; animation: fadeBottom var(--t2) 1 var(--ease-animation); }
.animation_bottom_d3.animated { opacity: 1; animation: fadeBottom var(--t3) 1 var(--ease-animation); }

.animation_bottom_dd1.animated { opacity: 1; animation: fadeBottom_d1 var(--t2) 1 var(--ease-animation); }
.animation_bottom_dd2.animated { opacity: 1; animation: fadeBottom_d2 var(--t2) 1 var(--ease-animation); }
.animation_bottom_dd3.animated { opacity: 1; animation: fadeBottom_d2 var(--t4) 1 var(--ease-animation); }
.animation_bottom_dd4.animated { opacity: 1; animation: fadeBottom_d2 6s 1 var(--ease-animation); }


.animation_top.animated    { opacity: 1; animation: fadeTop var(--t0) 1 var(--ease-animation); }
.animation_top_d1.animated { opacity: 1; animation: fadeTop var(--t1) 1 var(--ease-animation); }
.animation_top_d2.animated { opacity: 1; animation: fadeTop var(--t2) 1 var(--ease-animation); }


.animation_left.animated    { opacity: 1; animation: fadeLeft var(--t0) 1 var(--ease-animation); }
.animation_left_d1.animated { opacity: 1; animation: fadeLeft var(--t1) 1 var(--ease-animation); }
.animation_left_d2.animated { opacity: 1; animation: fadeLeft var(--t2) 1 var(--ease-animation); }
.animation_left_d3.animated { opacity: 1; animation: fadeLeft var(--t3) 1 var(--ease-animation); }

.animation_left_dd1.animated { opacity: 1; animation: fadeLeft_d1 var(--t2) 1 var(--ease-animation); }
.animation_left_dd2.animated { opacity: 1; animation: fadeLeft_d2 var(--t2) 1 var(--ease-animation); }
.animation_left_dd3.animated { opacity: 1; animation: fadeLeft_d3 var(--t4) 1 var(--ease-animation); }


.animation_right.animated    { opacity: 1; animation: fadeRight var(--t0) 1 var(--ease-animation); }
.animation_right_d1.animated { opacity: 1; animation: fadeRight var(--t1) 1 var(--ease-animation); }
.animation_right_d2.animated { opacity: 1; animation: fadeRight var(--t2) 1 var(--ease-animation); }
.animation_right_d3.animated { opacity: 1; animation: fadeRight var(--t3) 1 var(--ease-animation); }

.animation_right_dd1.animated { opacity: 1; animation: fadeRight_d1 var(--t2) 1 var(--ease-animation); }
.animation_right_dd2.animated { opacity: 1; animation: fadeRight_d2 var(--t2) 1 var(--ease-animation); }
.animation_right_dd3.animated { opacity: 1; animation: fadeRight_d3 var(--t4) 1 var(--ease-animation); }


.animation_scale.animated    { opacity: 1; animation: escale var(--t0) 1 var(--ease-animation); }
.animation_scale_d1.animated { opacity: 1; animation: escale var(--t1) 1 var(--ease-animation); }
.animation_scale_d2.animated { opacity: 1; animation: escale var(--t2) 1 var(--ease-animation); }
.animation_scale_d3.animated { opacity: 1; animation: escale var(--t3) 1 var(--ease-animation); }
.animation_scale_reverse.animated { opacity: 1; animation: escale_reverse 2.2s 1 var(--ease-animation); }

.animation_elastic.animated    { opacity: 1; animation: escale var(--t0) 1 cubic-bezier(.74,.13,.42,1.21); }
.animation_elastic_d1.animated { opacity: 1; animation: escale var(--t1) 1 cubic-bezier(.74,.13,.42,1.21); }




/*------------------------------------------------*/
/*------------------[TRANSITIONS]-----------------*/
/*------------------------------------------------*/


@-webkit-keyframes escale { 0% { opacity: 0; -webkit-transform: scale(0);} 100% { opacity: 1; -webkit-transform: scale(1);} }
@keyframes escale { 0% { opacity: 0; transform: scale(0); } 100% { opacity: 1; transform: scale(1); } }

@keyframes escale_reverse { 0% { opacity: 0; transform: scale(1.2); } 70% { opacity: 1; } 100% { transform: scale(1); } }

@-webkit-keyframes fadeBottom { 0% { opacity: 0; -webkit-transform: translateY(20%);} 100% { opacity: 1; -webkit-transform: translateY(0);} }
@keyframes fadeBottom { 0% { opacity: 0; transform: translateY(20%); } 100% { opacity: 1; transform: translateY(0); } }

@-webkit-keyframes fadeLeft { 0% { opacity: 0; -webkit-transform: translateX(-10%); } 100% { opacity: 1; -webkit-transform: translateX(0); } }
@keyframes fadeLeft { 0% { opacity: 0; transform: translateX(-10%); } 100% { opacity: 1; transform: translateX(0); } }

@-webkit-keyframes fadeLeftBt { 0% { opacity: 0; -webkit-transform: translateX(-10%) skewX(-15deg); } 100% { opacity: 1; -webkit-transform: translateX(0) skewX(-15deg); } }
@keyframes fadeLeftBt { 0% { opacity: 0; transform: translateX(-10%) skewX(-15deg); } 100% { opacity: 1; transform: translateX(0) skewX(-15deg); } }

@-webkit-keyframes fadeRight { 0% { opacity: 0; -webkit-transform: translateX(10%); } 100% { opacity: 1; -webkit-transform: translateX(0); } }
@keyframes fadeRight { 0% { opacity: 0; transform: translateX(10%); } 100% { opacity: 1; transform: translateX(0); } }

@-webkit-keyframes fadeTop { 0% { opacity: 0; -webkit-transform: translateY(-10%); } 100% { opacity: 1; -webkit-transform: translateX(0); } }
@keyframes fadeTop { 0% { opacity: 0; transform: translateY(-10%); } 100% { opacity: 1; transform: translateX(0); } }



// DELAY

@keyframes fadeBottom_d1 {
   0%   { opacity: 0; transform: translateY(20%); }
   25%  { opacity: 0; transform: translateY(20%); } 
   100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeRight_d1 {
   0%   { opacity: 0; transform: translateX(20%); }
   25%  { opacity: 0; transform: translateX(20%); } 
   100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeLeft_d1 {
   0%   { opacity: 0; transform: translateX(-20%); }
   25%  { opacity: 0; transform: translateX(-20%); } 
   100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeBottom_d2 {
   0%   { opacity: 0; transform: translateY(20%); }
   50%  { opacity: 0; transform: translateY(20%); } 
   100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeRight_d2 {
   0%   { opacity: 0; transform: translateX(20%); }
   50%  { opacity: 0; transform: translateX(20%); } 
   100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeLeft_d2 {
   0%   { opacity: 0; transform: translateX(-20%); }
   50%  { opacity: 0; transform: translateX(-20%); } 
   100% { opacity: 1; transform: translateX(0); }
}


@keyframes fadeBottom_d3 {
   0%   { opacity: 0; transform: translateY(20%); }
   75%  { opacity: 0; transform: translateY(20%); } 
   100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeRight_d3 {
   0%   { opacity: 0; transform: translateX(20%); }
   75%  { opacity: 0; transform: translateX(20%); } 
   100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeLeft_d3 {
   0%   { opacity: 0; transform: translateX(-20%); }
   75%  { opacity: 0; transform: translateX(-20%); } 
   100% { opacity: 1; transform: translateX(0); }
}


@keyframes spin {
   from{ transform: rotate(0deg); }
   to{ transform: rotate(360deg); }
}

.spin{
   animation: spin 25s linear infinite;
}



@import 'mobile';