@charset "utf-8";

// FONTS

/* 100 -> Thin  ; 200 -> ExtraLight  ;  300 -> Light  ;  400 -> Regular  ;  500 -> Medium  ;  600  -> SemiBold  ;  700  -> Bold  ;  800  -> ExtraBold  ;  900  -> Black */

// @font-face {
//     font-family: 'Oxygen';
//     src: url('../fonts/Oxygen-Regular.woff2') format('woff2'),
//         url('../fonts/Oxygen-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Bulings Nature';
    src: url('../../fonts/BulingsNature.woff2') format('woff2'),
    url('../../fonts/BulingsNature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bulings Nature';
    src: url('../../fonts/BulingsNatureItalic-Italic.woff2') format('woff2'),
    url('../../fonts/BulingsNatureItalic-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}





$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Bulings Nature', sans-serif;

// VARS

$root-color:        #3b432d; // riserva

$primary-color:     #768976; // riserva
$secondary-color:   #49503c;
$green-1: #b8bdaf;
$green-2: #607060;

$dark-color:        #23211C;
$light-color:       #d7ccbd; // riserva
$light-color-2:     #d2d1cb; // riserva
$light-color-3:     #f7eee5; // riserva
$light-color-4:     #f1eae1; // riserva

$light-color-5:     #f3ebe2; // riserva



$gray-color:        #7E7E7E;
$l-gray:            #f1e3d2;
$ll-gray:           #f7eee5;
$d-gray:            #a09689;
$grey: $gray-color; $l-grey: $l-gray; $ll-grey: $ll-gray; $d-grey: $d-gray;


.primary-font { font-family: $primary-font !important; }
.secondary-font { font-family: $secondary-font !important; }

.is-absolute{ position: absolute; }

.bg-white{ background-color: #FFF !important; }
.bg-gray{ background-color: $gray-color !important; }
.bg-l-gray{ background-color: $l-gray !important; }
.bg-ll-gray{ background-color: $ll-gray !important; }
.bg-root{ background-color: $root-color !important; }
.bg-primary{ background-color: $primary-color !important; }
.bg-secondary{ background-color: $secondary-color !important; }

.color-root{ color: $root-color; }
.color-primary{ color: $primary-color !important; }
.color-secondary{ color: $secondary-color !important; }
.color-white{ color: #FFF !important; }
.color-gray{ color: $gray-color !important }
.color-gray-light{ color: $ll-gray !important }

.is-pointer-off{ pointer-events: none; }

.z-index-0{ z-index: 0; }
.z-index-1{ z-index: 1; }
.z-index-2{ z-index: 2; }

.lp-0{ letter-spacing: 0; }


.box{ border-radius: 0; box-shadow: none; }

address{ font-style: normal; }

/* ------------------------|
|                          |
|  STYLE CLASSES EXTRAS    |
|                          |
| -------------------------|
*/

// ////////////////////////////// MIXINS

// Background

@mixin bg-img($img, $rep:no-repeat, $h:center, $v:top) {
    background: url('../img/#{$img}') $rep $h $v;
}

// Animation 

@mixin transition($time:0.4s) {
    transition: all $time cubic-bezier(0.38,0,.02,1);
}

// Text

@mixin text($color:null, $size: null, $weight: null, $align: null, $up:0, $i:0, $lh: null) {
    color: $color;
    font-weight: $weight;
    font-size: $size;
    text-align: $align;
    line-height: $lh;
    @if ($up == 1) {
        text-transform: uppercase;
    }
    @if ($i == 1) {
        font-style: italic;
    }
}


@mixin fs-vw($em-value, $base-width: 1920) {
    $vw-size: ($em-value * 1000) / $base-width;
    $vw-size-rounded: round($vw-size * 100) / 100;
    $min-size: round($em-value * 72) / 100;
    font-size: clamp(#{$min-size}em, #{$vw-size-rounded}vw, #{$em-value}em);
}


// Button

@mixin btn($bg:$main, $color:#fff, $border:null) {
    background: $bg;
    color: $color;
    @if ($border != null) {
        border-bottom: 3px solid $border;
    }
}

// Size

@mixin size($width,$height:$width) {
    width: $width;
    height: $height;
}

// Positions

@mixin position($position, $t: null, $r: null, $b: null, $l: null, $z: 0) {
    position: $position;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
    @if ($z != 0) {
        z-index: $z;
    }
}

@mixin relative($args...) {
    @include position(relative, $args...);
}

@mixin absolute($args...) {
    @include position(absolute, $args...);
}

@mixin fixed($args...) {
    @include position(fixed, $args...);
}

// Centralizar Absolutes

@mixin abs-center($ml, $t:null,$b:null,$z:0) {
    position: absolute;
    left: 50%;
    margin-left: $ml;
    top: $t;
    bottom: $b;
    @if ($z != 0) {
        z-index: $z;
    }
}

// Flex

@mixin flex($hori:null, $vert:null, $wrap:0) {
    display: flex;
    @if($wrap == 1) {
        flex-wrap: wrap;
    }
    @if($hori) {
        justify-content: $hori;
    }
    @if($vert) {
        align-items: $vert;
    }
}


// Main Pseudos

@mixin before($color:null, $w:null, $h:null, $bl:null, $bt: 50%, $o:null, $time:0.4s) {
    &:before {
        content:'';
        background: $color;
        @include size($w, $h);
        @include absolute($t: $bt, $l: $bl);
        @include transition($time);
        opacity: $o;
        // z-index: -1;
    }
}

@mixin after($color:null, $bb:null, $bl:null, $w:35px, $h:3px) {
    @include relative;
    &:after {
        content:'';
        background: $color;
        @include size($w, $h);
        @include absolute($b: $bb, $l: $bl);
        @include transition;
    }
}

@mixin bar($color:null, $w:null, $h:null, $bl:null, $bt:-50%) {
    background: $color;
    @include size($w, $h);
    @include absolute($t: $bt, $l: $bl);
    @include transition;
}


@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}