footer{
  padding-top: 30px;
  padding-bottom: 30px;

  .content {
    display: flex;
    justify-content: space-between;
  }

  p.text {
    text-align: left;
    width: min(100%, 655px);
    line-height: 16px;
  }

  p{
    font-size: 1.1em;
    color: $light-color-2;
  }

  .assinatura{
    color: $light-color-2;
    text-align: right;

    a{
      color: $light-color-3;


      &:hover{ color: $light-color-2; }
    }
  }
}


// Smartphone
@media(max-width: 578px){

  // FOOTER
  footer{

    .assinatura{ font-size: 1.4em; }



  }


}