header{
  @include transition(1s);
  @include fixed($t: 0, $z: 200);
  width: 100%;
  height: 125px;
  background: none;
  padding-top: 110px;


  .navbar-burger{
    background-color: #FFF;
    border-radius: 6px;
    color: $primary-color;
    margin-top: 5px;
    // margin-right: 25px;
    display: block;
    transform: scale(1.3);
    height: 2.6rem;
    width: 3.2rem;

    span{
      background-color: #5F584D;
      @include transition();
    }

    &:hover{
      background: $primary-color;

      span{
        background-color: #FFF;
      }
    }

    &.is-active{
      span{ background-color: #FFF; }

      &:hover{
        span{ background-color: $secondary-color; }
      }
    }
  }


  &.is-hide{
    top: -125px;
    padding-top: 15px;
    .logo{ opacity: 0; }
  }

  &.is-compact{
    padding-top: 15px;
    height: 80px;
    // overflow: hidden;
    background-color: rgba(82,70,57,0.9);
    backdrop-filter: blur(6px);

    .logo{
      max-width: 250px;
    }

    .campos{
      opacity: 0;
    }

    // .navbar-burger{ margin-top: 21px; }
  }


  .logo{
    // max-width: 256px;
    margin: 10px 0 0;
    transition: all 1s cubic-bezier(0.38,0,.02,1);
  }

  .campos{
    @include transition(0.8s);
  }


  .links{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    @include transition(0.6s);

    a{
      color: $root-color;
      font-size: 1.5em;
      font-weight: 500;
      font-family: 'acumin-pro';
      position: relative;
      letter-spacing: 1px;
      @include before(#49433b, 0, 1px, 0, 115%, $time: 0.7s);

      &:hover{
        // color: $primary-color;
        color: #49433b;

        &:before{
          width: 100%;
        }
      }

      &.is-active{
        color: $primary-color;

        &:before{
          width: 100%;
        }
      }
    }
  }
}

/*********************** TABLET LANDSCAPE ***********************/

@media only screen and (min-width: 577px) and (max-width: 1024px){

  header{ padding-top: 60px; }



}




// Smartphone
@media(max-width: 578px){
  // HEADER
  header{
    height: 80px;
    padding-top: 50px;

    .logo{
      max-width: 95px;
      margin: 0px 0 0;
    }

    &.is-compact{
      height: 70px;
      padding-top: 17px;

      .logo{
        margin-top: 6px;
        max-width: 70px;
      }

      // .navbar-burger{
      //     margin-top: 0px;
      // }
    }

    .navbar-burger{
      height: 2.1rem;
      margin-top: 0;
      @include absolute($r: 15px);
    }
  }

}