
/* ------------------------|
|                          |
|      STYLE BANNER        |
|                          |
| -------------------------|
*/

.section-banners{
  position: relative;
  margin-top: 0;
  padding: 0 0 0px;
  background-color: $l-gray;

  .cycle-prev, .cycle-next{
    @include absolute($b: 13%, $r: 21%, $z: 120);
    @include size(100px);
    @include flex(center, center);
    cursor: pointer;
    opacity: 0.8;
    // border: 1px solid $secondary-color;
    // border-radius: 50%;
    @include transition();
    // background-color: rgba(0,0,0,0.3);
  }

  .cycle-next{
    left: initial;
    right: 17%;
  }

  .cycle-prev:hover, .cycle-next:hover{
    // background-color: #FFF;
    transform: scale(1.1);
    opacity: 1;
  }

  .txt-banner{
    left: 0%;
    top: 260px;
    position: relative;
    z-index: 2;
    width: 355px;
    // padding: 0 60px;

    .btn{
      margin-top: 50px;
    }
  }


  .h1{
    line-height: 0.85;
    font-size: 8em;
    // @include fs-vw(8);
    font-weight: 300;
    font-family: 'condor';
    color: #f8f8f8;
    margin-bottom: 2px;
    // letter-spacing: 10px;

    p{ font-size: 1em; }

    em{
      font-family: 'richmond-display';
      font-weight: 200;
    }
  }

  .h2{
    color: #f8f8f8;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.4;
    margin-bottom: 17px;
    letter-spacing: 1px;
  }


  .cycle-slideshow .li{
    top: 0px !important;
    width: 100%;
    height: 800px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    // animation: banner_vert 22s ease-in infinite;

    &.video{
      pointer-events: none;
    }

    &.horiz{
      animation: banner_horiz 22s ease-in infinite;
    }

    .overlay{
      @include absolute($l: 0, $t:0, $z: 1);
      @include size(100%);
      background: linear-gradient(to bottom, rgba(30,30,30,.2) 0%, rgba(30,30,30,0.6) 100%);
    }

    .star{
      @include absolute($r: 10px, $t: 3px);
      @include size(61px);
    }
  }

  .cycle-pager{
    text-align: center;
    @include absolute($b: 30px, $l:0, $z: 101);
    @include size(100%, auto);
    cursor: pointer;

    span{
      text-indent: -9999px;
      @include size(6px, 6px);
      background-color: #FFF;
      display: inline-block;
      margin: 0 20px;
      border-radius: 3px;
    }

    .cycle-pager-active{
      @include size(10px, 10px);
      background-color: $primary-color;
      transform: translateY(-2px);
    }
  }
}

@keyframes banner_vert {
  0%   { background-position: center top 0; }
  50%  { background-position: center top -300px; }
  100% { background-position: center top 0; }
}

@keyframes banner_horiz {
  0%   { background-position: left 0 top; }
  50%  { background-position: left -200px top; }
  100% { background-position: left 0 top; }
}

// Smartphone
@media(max-width: 578px){
  // BANNERS
  .section-banners{
    .txt-banner{
      top: 235px;

      .btn{ margin-top: 35px; }
    }

    .h1{ font-size: 6em; }

    .cycle-slideshow .li{
      height: 585px;
    }

    .cycle-prev, .cycle-next{
      right: 19%;
      bottom: 7%;

      svg{ transform: scale(0.85); }
    }

    .cycle-next{ right: 2%; }

    .cycle-slideshow .li .star{
      width: 40px;
      right: 100px;
    }
  }

}
