/* COOKIES */

.cookies{
  font-size: 14px;
  position: fixed;
  width: 1000px;
  max-width: 100%;
  z-index: 202;
  bottom: 40px;
  margin-left: 50%;
  transform: translateX(-50%);

  .cookies-warning-box{
    border-radius: 0px;
    box-shadow: 6px 2px 48px -17px rgba(0,0,0,0.75);
    padding: 40px 50px 40px;
    background-color: $secondary-color;
    text-align: justify;

    h3{ font-size: 24px; }
  }

  .cookies-warning-btn .btn{
    font-size: 14px;
    padding: 13px 32px 9px;

  }
}

@media screen and (max-width: 767px) {

  .cookies{
    width: 90%;
    bottom: 20px;

    .cookies-warning-box{
      font-size: 14px;
      padding: 30px 35px;

      h3{ font-size: 21px; }
    }

    .cookies-warning-text{
      margin-bottom: 0;
    }

    .btn{ min-width: 220px; }
  }
}
