
/* ------------------------|
|                          |
|       STYLE INPUT        |
|                          |
| -------------------------|
*/

input, .input {
  border: none;
  border-bottom: 1px solid $primary-color;
  border-radius: 0;
  padding: 3px 0 10px;
  @include size(100%, auto);
  @include text($root-color, $size: 1.4em);
  outline: none;
  background: none;
  font-family: $primary-font;
  letter-spacing: 1px;
  box-shadow: none;
  font-weight: 600;
  padding-left: 22px;

  @include placeholder { color: $root-color; }

  &.checkbox { width: 15px; }

  &:hover {
    border-bottom: 1px solid $primary-color;
  }
}

.select {
  height: auto !important;
  width: 100%;
}

.select select {
  border: none;
  border-bottom: 1px solid $primary-color;
  border-radius: 0;
  padding: 9px 23px 12px 0;
  height: auto;
  @include text($root-color, $size: 1.4em);
  font-family: $primary-font;
  background: none;
  transition: all 0.2s linear;
  width: 100%;
  box-shadow: none !important;

  option{
    color: $root-color;
  }
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #AAA;
  border-width: 2px;
}

textarea, .textarea {
  border: none;
  margin-top: 38px;
  border-bottom: 1px solid $primary-color;
  border-radius: 0;
  padding: 14px 0;
  width: 100%;
  @include text($root-color, $size: 1.4em);
  outline: none;
  background: none;
  font-family: $primary-font;
  letter-spacing: 1px;

  @include placeholder {
    color: $root-color;
  }
}

label.checkbox {
  color: white;
  display: flex;
}

/* QUANDO ESTIVER CHECKED */
.checkbox input[type="checkbox"] {
  accent-color: $primary-color;
  color: #ff00c8;

  &:hover { accent-color: $primary-color; }
}

.input:focus, .textarea:focus, .select select:focus, .input:active, .textarea:active, .select select:active {
  border-color: $secondary-color;
  box-shadow: none;
}



// mobile

@media only screen and (max-width: 578px) {
  input, .input {
    font-size: 1.5em;
  }

  textarea, .textarea {
    font-size: 1.5em;
  }
}