// =======================
// Variáveis globais Swiper
// =======================



// =======================
// Section – Carrossel
// =======================
.section-carousel {

  background-color: $light-color-2;

  hr { transform-origin: left; }

  padding-bottom: 160px;

  .wrap {
    padding-top: 130px;
    position: relative;
    //max-width: 1310px;

    .paper-background {
      position: absolute;
      top: -30px;
      left: 15px;
      max-width: unset;
      z-index: -1;
    }
  }

  h2 {
    color: $primary-color;
    font-size: 2.8em;
    font-weight: 500;
  }

  hr {
    background: $primary-color;
    margin-top: 0;
    height: 3px;
    // margin-bottom: 35px;
  }

  // .title-container {
  //     display: grid;
  //     grid-template-columns: 523fr 971fr;

  //     .content {
  //         display: flex;
  //         justify-content: center;

  //         div {
  //             // max-width: 742px;
  //             width: 100%;

  //             hr {
  //                 margin-left: 40px;
  //             }
  //         }
  //     }
  // }

  // Ajuste de posicionamento do wrapper do Swiper
  .swiper-wrapper {
    position: relative;
  }

  // =======================
  // Swiper – Carrossel de Imóveis
  // =======================
  .swiper.slide-imoveis {
    overflow: visible;
    max-width: 1170px;
    margin: 0 auto;

    // Navegação (botões próximo/anterior)
    .outer-next,
    .outer-prev {
      @include size(40px);
      border-radius: var(--radius-sm);
      background-color: $d-gray;
      transition: all 0.2s linear;
    }

    .outer-prev {
      left: initial;
      right: 210px;
    }

    .outer-next {
      right: 158px;
    }

    // Slide padrão
    .swiper-slide {
      position: relative;
      transition: width 0.4s, height 0.4s, margin-top 0.4s;
      width: 100%;

      h2 {
        position: absolute;
        top: -90px;
        left: 41.5%;
        opacity: 0;
        transition: 0.4s;
        margin-bottom: 0;
      }

      &.swiper-slide-active h2 {
        opacity: 1;
      }

      figure.image-container {
        background: $secondary-color;
        display: block;
        position: relative;
        overflow: hidden;
        outline: none !important;

        img {
          display: block;
          object-fit: cover;
          cursor: grab;
          transition: 0.4s;
          width: 100%;
        }

        .expand-icon {
          position: absolute;
          bottom: 30px;
          left: 50%;
          width: 26px;
          height: 26px;
        }
      }

      a { outline: none; }

    }

    .swiper-slide {
      position: relative;
      margin-top: 45px;
    }

    // Scrollbar
    .swiper-horizontal > .swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
      left: unset;
      right: 50%;
      transform: translateX(50%);
      width: 100%;
    }



    // Botão “ver todos”
    .btn-all {
      @include absolute($b: -110px, $r: 12px);
    }

    .btn {
      background: $secondary-color;
      padding: 16px 84px;
    }
  }


  &.second {
    margin-top: -33px;

    .wrap { padding-top: 0; }

    hr {
      margin-bottom: 60px;
      width: 300%;
    }

    .swiper-scrollbar-horizontal { background: #B8B1A5; }

    .swiper.slide-imoveis .swiper-slide h2 {
      left: 0;

      span{
        color: $primary-color;
        padding-left: 20px;
        font-size: 0.6em;
      }
    }

  }
}



:root {
  --swiper-navigation-color: #FFF;
  --swiper-scrollbar-bottom: 35px;
  --swiper-scrollbar-sides-offset: 12%;
  --swiper-scrollbar-drag-bg-color: #{$secondary-color};

  /* Fundo do trilho */
  --swiper-scrollbar-size: 3px;

  --swiper-scrollbar-bg-color: #{$primary-color};
  --radius-sm: 3px;
}

/* Altura do DRAG (o botão) */
.swiper-scrollbar-drag {
  height: 7px !important;
  top: -2px !important;
  cursor: grab;
}

// =======================
// Ajustes do Swiper – Navegação
// =======================
.slide-imoveis {
  --swiper-navigation-size: 20px;
  --swiper-navigation-bottom-offset: -100px;
  --swiper-navigation-top-offset: unset;
  --swiper-scrollbar-bottom: -65px;
  bottom: 15px !important;

  .swiper-button-prev,
  .swiper-button-next {
    bottom: 15px !important;
    top: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black !important;
    border-radius: 10px;

    img {
      width: 16px;
      height: 18px;
    }
  }
}


// =======================
// Card de imóvel (reservado)
// =======================
// .card-imovel {
//   // --swiper-navigation-top-offset: calc(50% - 10px);
// }


// =======================
// Slide com efeito WestSlide (outro componente)
// =======================
.slide {
  padding: 0 120px;
  //height: 370px;

  &:before,
  &:after {
    content: '';
    @include absolute($t: 0, $l: 0, $z: 1);
    @include size(100%, 50px);
    background-image: linear-gradient(to bottom, #FFF, rgba(#FFF, 0));
  }

  &:after {
    top: initial;
    bottom: 0;
    background-image: linear-gradient(to top, #FFF, rgba(#FFF, 0));
  }

  .west-stage {
    margin-top: 40px;
  }
}

// Notebook
@media only screen and (min-width: 1025px) and (max-width: 1780px) {
  // .section-carousel .swiper.slide-imoveis {
  //     max-width: 840px;
  // }

  // .section-carousel .swiper.slide-imoveis .swiper-slide h2 {
  //     left: 325px !important;
  // }

  // .pl13 {
  //     padding-left: 60px !important;
  // }
}



// mobile
@media(max-width: 578px){

  .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: -40px !important;
  }

  .section-carousel.second .swiper.slide-imoveis .swiper-slide{
    margin-top: 5px;
  }

}